Calculator in C/main
SFML Projects/Tetris in C++/main
Basic Rust/HelloWorld/target/*
calculator_rust/target/*
calculator_gui_rust/target/*
simple_web_page_rust/target/*
SFML Projects/Sorting Visual in C++/main
.DS_Store
